@model int
@{
    ViewBag.Title = "FeeetToMiles";
}

<div class="page-header darkBlue">
    Feet to Miles
</div>
<br />
<form action="Converter" method="post">
    <div class="jumbotron">
        <p>Feet: <div><input name="Feet" class="input-group lineBoarder" type="number" /></div></p>
        <p>Miles: <div class="output lineBoarder">@Model</div></p>
    </div>
</form>

