@model double
@{
    ViewData["Title"] = "CmToM";
}

<form action="convert" method="post">
    <div class="topnav">
        <a href="index.html">Feet to Meters</a>
        <a href="C to F.html">Celsius to Fahrenheit</a>
        <a href="feetInches.html">Feet to Inches</a>
        <a href="base.html">Base to Base</a>
        <a href="centimeterToMeter.html">Centimeter to Meter</a>
    </div>
    <div class="header darkBlue">Centimeters to Meters</div>
    <br />
    <div id="bin">
        <div class="row">
            <div class="offset-3 col-2 bgBlue shadow-lg p-3 mb-5 rounded">
                <p class="unit">Centimeters</p>
                <p><input name="centimeter" type="number" step="any" class="input lineBoarder" /></p>
            </div>
            <div class="offset-2 col-2 bgBlue shadow-lg p-3 mb-5 rounded">
                <p>Meters</p>
                <p class="output lineBoarder">@Model</p>
            </div>
        </div>
        <input name="submit" type="submit" />
    </div>
</form>

