@model string
@{
    ViewBag.Title = "FootInches";
}

<body>
    <div>
        <h1>Feet to Inches</h1>
    </div>
    <div>
        <form action="FootInches" method="post">
            <label for="Number of feet">Feet:</label>
            <input v-model="feet" type="number" step="any" />
            <label for="Number of inches">Inches:</label>
            <button v-on:click="feetInches" class="buttonB medBlue">Convert</button>
        </form>
        <p>
            @Model
        </p>
</div>
</body>

