@model double
@{
    ViewBag.Title = "FootInches";
}

<body>
<form action="Convert" method="post">
    <div class="topnav">
        <a href="index.html">Feet to Meters</a>
        <a href="C to F.html">Celsius to Fahrenheit</a>
        <a href="feetInches.html">Feet to Inches</a>
        <a href="base.html">Base to Base</a>
        <a href="centimeterToMeter.html">Centimeter to Meter</a>
    </div>
    <div class="header darkBlue">
        <h1 class="header">Feet to Inches</h1>
    </div>
    <div id="app">
        <div class="row">
            <div class="offset-3 col-2 bgBlue shadow-lg p-3 mb-5 rounded">
                <div class="col-6">
                    <label for="Number of feet" class="centerize">Feet:</label>
                    <input name="feet" class="input lineBoarder" type="number" step="any" />
                </div>
            </div>
            <div class=" offset-2 col-2 bgBlue shadow-lg p-3 mb-5 rounded">
                <div class="col-6">
                    <label for="Number of inches">Inches:</label>
                    <div class="output lineBoarder">
                        <p>@Model</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="centerize">
            <button v-on:click="feetInches" class="buttonB medBlue">Convert</button>
        </div>
    </div>
    </form>
</body>

